<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">영화 등록하기</h1>

    <form th:action="@{/movie/register}" th:method="post">
      <div class="form-group">
        <label>영화 제목</label>
        <input type="text" class="form-control" name="title" placeholder="영화 제목을 입력해 주세요!">
      </div>

      <div class="form-group fileForm">
        <label>영화 이미지</label>

        <div class="custom-file">
          <input type="file" class="custom-file-input files" id="fileInput" multiple>

          <label class="custom-file-label" data-browse="파일 찾기"></label>
        </div>
      </div>

      <div class="box"></div>

      <button type="submit" class="btn btn-primary">등록하기</button>
    </form>

    <script>
      $(document).ready(function (e) {

      }); // document ready 끝
    </script>

  </th:block>

</th:block>