<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic:: setContent(~{this::content} )}">


    <th:block th:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>주니하랑의 스프링으로 파일 업로드 실습!</title>
</head>
<body>
    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">Upload</button>

    <div class="uploadResult">

    </div>

    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>

    <script>

        function showUploadedImages(arr) {
            console.log(arr);

            var divArea = $(".uploadResult");

            var str = "";

            for(var i = 0; i < arr.length; i++) {
                str += "<div>";
                str += "<img src='/display?fileName="+arr[i].thumbnailURL+"'>";
                str += "<button class='removeBtn' data-name='"+arr[i].imageURL+"'>삭제하기</button>";
                str += "</div>";
            } // for문 끝

            divArea.append(str);
        }

        $(".uploadResult").on("click", ".removeBtn", function (e) {
           var target = $(this);
           var fileName = target.data("name");
           var targetDiv = $(this).closest("div");

           console.log(fileName);

           $.post('/removeFile', {fileName: fileName}, function (result) {
               console.log(result);

               if (result === true) {
                   targetDiv.remove();
               } // if문 끝
           })
        });

        $('.uploadBtn').click(function ( ) {
            var formData = new FormData();
            var inputFile = $("input[type='file']");
            var files = inputFile[0].files;

            for (var i = 0; i < files.length; i++) {
                console.log(files[i]);

                formData.append("uploadFiles", files[i]);
            } // for문 끝

            // 실제 업로드 부분
            // upload ajax
            $.ajax({
                url: '/uploadAjax',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    // 나중에 화면 처리
                    showUploadedImages(result);

                }, error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            }); // $.ajax 끝
        });
    </script>
    </th:block>
</th:block>
</body>
</html>